USE [master]
GO
/****** Object:  Database [mfcf]    Script Date: 10.06.2022 19:47:01 ******/
CREATE DATABASE [mfcf]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mfcf', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\mfcf.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mfcf_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\mfcf_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mfcf].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mfcf]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10.06.2022 19:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] NOT NULL,
	[login] [nvarchar](max) NOT NULL,
	[prol] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[клиенты]    Script Date: 10.06.2022 19:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[клиенты](
	[ФИО] [nvarchar](max) NOT NULL,
	[Адрес] [nvarchar](max) NOT NULL,
	[id_usl] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[срок_действия]    Script Date: 10.06.2022 19:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[срок_действия](
	[дата_начала] [nvarchar](max) NOT NULL,
	[дата_окончания] [nvarchar](max) NOT NULL,
	[id_usl] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[страховка]    Script Date: 10.06.2022 19:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[страховка](
	[название_страховки] [nvarchar](max) NOT NULL,
	[необходимые_документы] [nvarchar](max) NOT NULL,
	[id] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[цена]    Script Date: 10.06.2022 19:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[цена](
	[цена] [nvarchar](max) NOT NULL,
	[id_usl] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
